body{
	background: url('http://localhost/iiau/images/email.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: sans-serif,'Tahoma';
    direction: rtl;
    text-shadow: 1px 1px #000;
}
table {
  background-color: transparent;
}
